<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869780191170-e1ltb01mskh907ghki5q29opuii092h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869780191170-e1ltb01mskh907ghki5q29opuii092h4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>869780191170-so3nfvb9s4n47dpemlb2lk4anfo99tv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3d260VLLL40IReUotACMVrEAMlBXDywc</string>
	<key>GCM_SENDER_ID</key>
	<string>869780191170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-47889</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-47889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869780191170:ios:93341333a6b27d4857885b</string>
</dict>
</plist>